.box {
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: dotted;
  color: #ff0000;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 30px;
  background-color: #ffeb3b;
}
